@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'OpenSans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'OpenSans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'OpenSans';
	font-weight: 800;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'OpenSans';
	font-weight: 400;
	font-style: italic;
}

body {
	margin: 0;
	background: #FAFAFA;
}

/*header*/

.header_wrapper {
	display: flex;
	justify-content: center;
	min-height: 40px;
	position: sticky; top: 0;
	background: rgba(29, 43, 100, .902);
	margin-bottom: 30px;
	margin-top: 0;
	z-index: 2;
}


.menu {
	display: grid;
	grid-template-columns: repeat(6, minmax(150px, 1fr));
	grid-template-rows: auto;
	grid-gap: 2vw;
	max-width: 100%;
}

.head {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 500;
	background-color: transparent;
	text-decoration: none;
	color: #ffffff;
	transition: ease-out color 0.5s;
}

.head:hover {
	color: rgba(196, 196, 196);
	text-decoration: none;
}

.head {
	text-transform:	capitalize;
	font-size: 1rem;
}

/*intro*/

.intro_wrapper {
	position: fixed;
	z-index: 0;
	width: 100%;
}

.intro {
	display: block;
	text-align: center;
	padding: 0 2vw;
	max-width: 1560px;
	margin: 0 auto;
}

.intro h1 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 20px;
	margin-top: 0;
}

.intro p {
	max-width: 50%;
	margin: 0 auto;
	font-family: 'Karla-VariableFont_wght', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 50px;
}

/*barra centrale*/
.central_bar {
	width: 200px;
	height: 5px;
	margin: 0 auto;
	background: #89253e;
}

/*settori*/
.main_section_wrapper{
	position: relative;
	width: 100%;
	top: 350px;
	z-index: 1;
	background: #FAFAFA;
}

.sectors_preview h2 { /*deve essere intro*/
	text-align: center;
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 2vw;
}

.sectors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100vw;
	margin: 0 auto;
	padding: 0 2vw;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	background: linear-gradient(-45deg, #FF8008, #FF8008, #89253e, #1D2B64, #1D2B64);
	background-size: 600% 600%;
	-webkit-animation: gradient 20s ease-in-out infinite;
			animation: gradient 20s ease-in-out infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sectors_wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 1560px;
}

.main_sector {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.first_sector {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	width: 30%;
}

.main_sector h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;;
	font-weight: 600;
	width: 100%;
	color: #ededed;
}

.subsector_image {
	object-fit: cover;
}

.subsector_description {
	text-transform: capitalize;
	width: 50%;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 19px;
	color: #cfcfcf;
}

.subsector_description p {
	margin: 0;
	padding-top: 3%;
}

.subsector_description_reverse {
	text-transform: capitalize;
	width: 50%;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 19px;
	color: #cfcfcf;
	margin-left: auto;
}

.subsector_description_reverse p {
	margin: 0;
	padding-top: 3%;
}

/*who ewe are*/
.who_we_are_intro {
	display: block;
	text-align: center;
	padding: 0 2vw;
}

.who_we_are_intro h2 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	margin-bottom: 20px;
}

.who_we_are_intro p {
	max-width: 50%;
	margin: 0 auto;
	font-family: 'Karla-VariableFont_wght', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.who_we_are_intro p:nth-child(3) {
	margin-bottom: 20px;
}

.who_we_are_bar {
	width: 200px;
	height: 5px;
	margin: 0 auto;
	background: #89253e;
	margin-bottom: 50px;
}

.who_we_are {
	display: flex;
	max-width: 100vw;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.services_wrapper {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 2vw;
	margin-bottom: 50px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
	grid-template-rows: auto;
	grid-gap: 2vw;
	width: 70%;
}
.services h3 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

.services p {
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.service_image {
	margin-bottom: 20px;
}

.products_bar {
	width: 200px;
	height: 5px;
	margin: 0 auto;
	background: #89253e;
	margin-bottom: 50px;
}

/*products*/
.products_intro {
	display: block;
	text-align: center;
	padding: 0 2vw;
}

.products_intro h2 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	margin-bottom: 20px;
}

.products_wrapper {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 2vw;
	margin-bottom: 50px;
}

.products {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: auto;
	grid-gap: 2vw;
	width: 100%;
}

.products a {
	text-decoration: none;
	color: #000000;
}

.product_image {
	border-radius: 50%;
	transition: 0.5s;
}

.product_image:hover {
	-webkit-transform: scale(1.4);
  	-ms-ransform: scale(1.4);
  	transform: scale(1.4);
}

.product h3 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

/*sibscribe field*/
.subscribe {
	background: #1D2B64;
	padding: 100px 2vw 100px 2vw;
}

.subscribe_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1560px;
	margin: 0 auto;
}

.subscribe_wrapper h3 {
	display: flex;
	justify-content: center;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 51px;
	margin-bottom: 20px;
	color: #ffffff;
}

.subscribe_text {
	width: 100%;
	text-align: center;
}

.subscribe_form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.subscribe_email_input {
	width: 500px;
	height: 70px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 20px;
	margin-right: 30px;
	padding-left: 30px;
}

.send_button {
	height: 71.98px;
	width: 133px; 
	border: none;
	border-radius: 5px;
	outline: none;
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
	background: #89253e;
	color: #ffffff;
	transition: .5s;
}

.send_button:hover {
	transition: 1.5s;
	background: #FF8008;
}

/*contact us*/

.contact {
	background: #e3e3e3;
	padding-top: 50px;
}

.contact_previw_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 2vw;
}

.contact_preview {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	text-align: center;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 50px;
}

.contact_preview h2 {
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	margin: 0;
}

.contact_bar {
	width: 200px;
	height: 5px;
	background: #89253e;
}

.contact_icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 50%;
	margin-bottom: 50px;
}

.contact_image {
	margin-bottom: 20px;
}

.icon {
	text-align: center;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 15px;
	width: 30%;
}

.icon p {
	margin: 0;
}

.contact_form_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.contact_form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
	margin-bottom: 50px;
}

.info {
	width: 350px;
	height: 60px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #f3f3f3;
	margin-bottom: 15px;
	padding-left: 20px;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.info:nth-child(odd) {
	margin-right: 20px;
}

.contact_request {
	width: 740px;
	background-color: #f3f3f3;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	border-radius: 5px;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
	padding: 20px 0 0 20px;
	margin-bottom: 20px;
}

.contact_send_button {
	position: relative;
	height: 72px;
	width: 20%;
	border: none;
	border-radius: 0.25em;
	outline: none;
	text-transform: uppercase;
	font-family: 'OpenSans', Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.3rem;
	background: #89253e;
	transition: .5s;
}

.contact_send_button:hover {
	transition: 1.5s;
	background: #1D2B64;
}

/*footer wrapper*/
.footer_wrapper {
	height: 10vh;
	background: #1D2B64;
}